body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f8;
}

nav {
    background: #004e92;
    padding: 10px 20px;
    text-align: center;
    color: white;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 28px;
}

nav ul li p{
   color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1 {
    color: #004e92;
    font-size: 3em;
}

.hero .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background: #0056b3;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.dashboard {
    max-width: 900px;
    margin: 20px auto;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
